@tailwind base;

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  border: 4px solid #909090;
  background-clip: padding-box;
  background-color: #909090;
  border-radius: 14px;
}
@tailwind components;
@tailwind utilities;
